<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Information</title>
</head>
<body>
  
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   <!-- <div class="navbar-brand">{{title}}</div> -->
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
 
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/userinfo"]'>User Information  | </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/aboutus"]'>About US  |</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["/contact"]'>Contact </a>
    </li>
    </ul>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item" >
      <p class="nav-link" style="color: white;">{{currentDate | date:'fullDate'}}</p>
    </li>
  </ul>
    
 
   </div>
 </nav>
 <router-outlet></router-outlet>
</body>
</html>